body {
	background-color: #eef2c9;
}

.header {
	text-align: center;
}

.gallery_img {
	width: 25vw;
}

#photo_div {
	border: solid red 1px;
	height: 40vw;
	width: 60%;
}

#player {
	height: 100%;
	width: 100%;
}

.icons {
	height: 10vw;
}