body {
	background-image: url(img/background.jpg);
}

.header {
	text-align: center;
}

.main_gallery_img, .profile_gallery_img {
	width: 25vw;
}

#photo_div {
	border: solid red 1px;
	height: 40vw;
	width: 60%;
}

#player {
	height: 100%;
	width: 100%;
}

.icons {
	height: 10vw;
}

.imageContainer > img:hover {
  width: 500px;
  height: 200px;
}